*{
    margin:0;
    padding:0;
}
body{
    background-color:#faedcd;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}



.container{
    background-color:#f4f3ee;
    min-height:60vh;
    padding:2rem;
    border-radius:50px;
}

.container h1{
    text-align:center;
    color:#3d405b;
}


.amount-container{  
   display:flex;
   align-items:center;
   justify-content:center;
   margin-top:50px; 
   font-size:20px; 
    
}


.amount-container input{
    font-size:20px;
    text-align:center;
    outline:none;
    color:#4a4e69;
    border-radius:5px;
    border:2px solid #efe5dc ;
    padding:10px;
      
}




.dropdown{
    margin-top:30px;
    display:flex;
    justify-content:space-between; 
    align-items:center;
    gap:30px;
}
.select-container{
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid lightgray;
    width:6rem;
    border-radius:10px;
    margin-top:10px;
}

.select-container select{
    color:black;
    font-size:1rem;
    border:none;
    outline:none;
    background-color:#f4f3ee;
}


.select-container img{
    width:2rem;
    height:2rem;
}




.msg{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:50px;
}

form button{
    margin-top:40px;
    padding:10px;
    border-radius:10px;
    background-color:#bb9457;
    font-size:1rem;
    height:3rem;
    color:#fefae0;
    width:100%;
    
    
}

.btn-container{
    display:flex;
    justify-content:center;
    align-items:center;
    
} 

